<% if signed_in? %>   
    <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
        <p>
            <strong><%= form.label :Usuario %></strong><br>
            <%= "#{current_user.name} #{current_user.last_name}" %>
        </p>
        <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
        </p>
        <p>
            <%= form.submit %>
        </p>
    <% end %>
<% end %> 
