
<h1>Artículos</h1>
<ul class="list-group" id="menu-prin">
  <li class="list-group-item animated fadeInLeft ret3">
    <%= link_to "Inicio", root_path %>
  </li>
  <% i = 4 %>
  <% @categories.each do |categoria| %>
    <li class="ret<%= i+=1 %> list-group-item animated fadeInLeft">
      <%= link_to categoria.name, categoria %>
    </li>
  <% end %>
</ul>
<% if signed_in? %>
 <%= link_to 'Mi Perfil', controller: 'profile' %>
<% end %> <br> 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Usuario</th>
    <th>Likes</th>
    <th colspan="3"></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.user.name_or_email %></td>
      <td><%= article.likes.count %> <%= (article.likes.count) == 1 ? 'Like' : 'Likes' %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <% if signed_in? && current_user == article.user %> 
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
      <% end %>         
    </tr> 
  <% end %>  
</table> <br> 
<%= link_to 'INICIO', welcome_index_path %>