
<h1>Artículos</h1>
<% if signed_in? %>
 <%= link_to 'Mi Perfil', controller: 'profile' %>
<% end %> <br> 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Usuario</th>
    <th colspan="3"></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= (article.user.name.present? ? article.user.name : article.user.email).capitalize %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <% if signed_in? && current_user == article.user %> 
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
      <% end %>         
    </tr> 
  <% end %>  
</table> <br> 
<%= link_to 'INICIO', welcome_index_path %>