<p>
  <strong>Autor:</strong>
  <%= "#{@article.user.name} #{@article.user.last_name}" %>
</p>
<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Contenido</strong>
  <%= @article.text %>
</p>
 
<p>
  <strong></strong>
  <%= l @article.created_at, format: :euro %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %>

<% if signed_in? %>  
    <h2>Comentar</h2>
    <%= render 'comments/form' %>
<% end %> 

<% if current_user == Article.find(params[:id]).user %> 
    <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>

    <%= link_to 'Back', controller: 'profile' %>