<h2>Regístrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name %>
 </div>

  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :Correo_electronico %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum 6)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_Contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Acepto" %>
  </div>
<% end %>

<%= link_to 'Volver a inicio', welcome_index_path %>
